.panelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 0 var(--space-extra-small);
}

.title {
  flex: 1;
}

.buttons {
  display: flex;
}
