.panel {
  width: 100%;
}

.leftRightPadding {
  padding-left: var(--space-extra-small);
  padding-right: var(--space-extra-small);
}

.topBottomPadding {
  padding-top: var(--space-extra-small);
  padding-bottom: var(--space-extra-small);
}

.leftPadding {
  padding-left: var(--space-extra-small);
}

.rightPadding {
  padding-right: var(--space-extra-small);
}

.topPadding {
  padding-top: var(--space-extra-small);
}

.bottomPadding {
  padding-bottom: var(--space-extra-small);
}

.topBorder {
  border-top: 1px solid var(--figma-color-border);
}

.bottomBorder {
  border-bottom: 1px solid var(--figma-color-border);
}
