.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.inputWrapper {
  display: flex;
  position: relative;
  flex: 1;
  grid-column: span var(--inputConteiner-input-grid-width);
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--space-small);
}

.input {
  width: 100%;
  height: 30px;
  border-radius: var(--border-radius-2);
  outline: 1px solid transparent;
  padding: 0 var(--space-extra-small);
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--figma-color-text);
}

.input:hover {
  border-color: var(--figma-color-border);
}

.input:focus {
  outline: 1px solid var(--figma-color-border-brand-strong);
  border: 1px solid var(--figma-color-border-brand-strong);
}

.label {
  grid-column: span var(--inputConteiner-label-grid-width);
  padding-left: var(--space-extra-small);
  opacity: var(--input-label-opacity);
}

/* /// */

.hasOutline {
  border: 1px solid var(--figma-color-border);
}

.hasLeftIcon {
  padding-left: 32px;
}

.leftIcon {
  pointer-events: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isInvalid,
.isInvalid:hover {
  border: 1px solid var(--figma-color-border-danger-strong);
}

.isInvalid:focus {
  outline: 1px solid var(--figma-color-border-danger-strong);
  border: 1px solid var(--figma-color-border-danger-strong);
}
