@layer default-kit-component {
  .contextMenu {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-2);
    background-color: var(--figma-color-bg-menu);
    padding: var(--space-extra-small) 0;
    box-shadow: var(--elevation-400-menu-panel);
    overflow-y: auto;
  }

  /* hide scrollbar */

  .contextMenu::-webkit-scrollbar {
    display: none;
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  /* OPTION */

  .option {
    display: flex;
    align-items: center;
    /* gap: var(--space-extra-small); */
    padding: 0 var(--space-small) 0 var(--space-extra-small);
    height: 24px;
  }

  .option:hover {
    background-color: var(--figma-color-bg-menu-selected);
  }

  .optionText {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  .optionLabel {
    padding-left: var(--space-extra-small);
    color: var(--figma-color-text-menu);
  }

  .optionCaption {
    color: var(--figma-color-text-menu);
    text-align: right;
  }

  .optionIcon {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  .optionIcon svg {
    fill: var(--figma-color-icon-menu);
  }

  .divider {
    height: 1px;
    background-color: var(--figma-color-border-menu);
    margin: var(--space-extra-small) 0;
  }

  .sectionTitleContainer {
    display: flex;
    height: 24px;
    align-items: center;
    padding: 0 var(--space-small) 0 var(--space-extra-small);
  }

  .sectionTitle {
    color: var(--figma-color-text-menu);
    opacity: 0.4;
    padding-left: var(--space-extra-small);
  }
}
