.button {
  cursor: pointer;
  position: relative;
  user-select: none;
  display: inline-flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  border-radius: 150px;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  transition: background 0.16s ease, border 0.16s ease, color 0.2s ease,
    opacity 0.16s ease;
}
