@import url('https://fonts.googleapis.com/css?family=Inter:400,600&display=swap');

.sb-show-main,
.sb-main-padded {
  overflow-x: hidden;
}

.sbdocs-img {
  margin: 20px 0;
  border-radius: 10px;
}

.pageWrap {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
