:root {
  /* border-radius */
  --border-radius-2: 2px;
  --border-radius-6: 6px;
  /* box-shadow */
  --box-shadow: var(--box-shadow-menu);
  --box-shadow-menu: 0 5px 17px rgba(0, 0, 0, 0.2),
    0 2px 7px rgba(0, 0, 0, 0.15), inset 0 0 0 0.5px #000000,
    0 0 0 0.5px rgba(0, 0, 0, 0.1);
  --box-shadow-modal: 0 2px 14px rgba(0, 0, 0, 0.15),
    0 0 0 0.5px rgba(0, 0, 0, 0.2);
  /* font */
  --font-family: 'Inter', 'Helvetica', sans-serif;
  --font-family-code: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --line-height-16: 16px;
  /* opacity */
  --opacity-30: 0.3;
  --opacity-50: 0.5;
  --input-label-opacity: 0.8;
  /* space */
  --space-extra-small: 8px;
  --space-small: 12px;
  --space-medium: 16px;
  --space-large: 20px;
  --space-extra-large: 24px;
  /* z-index */
  --z-index-1: 1;
  --z-index-2: 2;
  /* shadows */
  --elevation-100-canvas: 0px 0px 0.5px rgba(0, 0, 0, 0.3),
    0px 1px 3px rgba(0, 0, 0, 0.15);
  --elevation-100-canvas-drop-shadow: drop-shadow(
      0px 0px 0.5px rgba(0, 0, 0, 0.3)
    )
    drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
  --elevation-200-canvas: 0px 0px 0.5px rgba(0, 0, 0, 0.18),
    0px 3px 8px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1);
  --elevation-200-canvas-drop-shadow: drop-shadow(
      0px 1px 3px rgba(0, 0, 0, 0.1)
    )
    drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.18));
  --elevation-300-tooltip: 0px 0px 0.5px rgba(0, 0, 0, 0.15),
    0px 5px 12px rgba(0, 0, 0, 0.13), 0px 1px 3px rgba(0, 0, 0, 0.1);
  --elevation-300-tooltip-drop-shadow: drop-shadow(
      0px 1px 3px rgba(0, 0, 0, 0.1)
    )
    drop-shadow(0px 5px 12px rgba(0, 0, 0, 0.13))
    drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.15));
  --elevation-400-menu-panel: 0px 0px 0.5px rgba(0, 0, 0, 0.12),
    0px 10px 16px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(0, 0, 0, 0.15);
  --elevation-500-modal-window: 0px 0px 0.5px rgba(0, 0, 0, 0.08),
    0px 10px 24px rgba(0, 0, 0, 0.18), 0px 2px 5px rgba(0, 0, 0, 0.15);

  /* input */
  --inputConteiner-label-grid-width: 5;
  --inputConteiner-input-grid-width: 7;

  /* global colors */

  --figma-color-bg-menu: #1e1e1e;
  --figma-color-bg-menu-disabled: #757575;
  --figma-color-bg-menu-hover: #2c2c2c;
  --figma-color-bg-menu-pressed: #2c2c2c;
  --figma-color-bg-menu-secondary: #383838;
  --figma-color-bg-menu-selected: #0d99ff;
  --figma-color-bg-menu-selected-hover: #007be5;
  --figma-color-bg-menu-selected-pressed: #007be5;
  --figma-color-bg-menu-selected-secondary: #394360;
  --figma-color-bg-menu-selected-tertiary: #394360;
  --figma-color-bg-menu-tertiary: #444444;
  --figma-color-border-menu: #383838;
  --figma-color-border-menu-disabled: #383838;
  --figma-color-border-menu-disabled-strong: #383838;
  --figma-color-border-menu-onselected: #0a6dc2;
  --figma-color-border-menu-onselected-strong: rgba(255, 255, 255, 1);
  --figma-color-border-menu-selected: #0c8ce9;
  --figma-color-border-menu-selected-strong: #7cc4f8;
  --figma-color-border-menu-strong: rgba(255, 255, 255, 1);
  --figma-color-text-menu: rgba(255, 255, 255, 1);
  --figma-color-text-menu-danger: #fca397;
  --figma-color-text-menu-disabled: rgba(255, 255, 255, 0.4);
  --figma-color-text-menu-hover: rgba(255, 255, 255, 1);
  --figma-color-text-menu-ondisabled: #1e1e1e;
  --figma-color-text-menu-onselected: rgba(255, 255, 255, 1);
  --figma-color-text-menu-secondary: rgba(255, 255, 255, 0.7);
  --figma-color-text-menu-secondary-hover: rgba(255, 255, 255, 1);
  --figma-color-text-menu-selected: #7cc4f8;
  --figma-color-text-menu-selected-secondary: #7cc4f8;
  --figma-color-text-menu-selected-tertiary: #7cc4f8;
  --figma-color-text-menu-tertiary: rgba(255, 255, 255, 0.4);
  --figma-color-text-menu-tertiary-hover: rgba(255, 255, 255, 1);
  --figma-color-text-menu-warning: #f7d15f;
  --figma-color-icon-menu: rgba(255, 255, 255, 1);
  --figma-color-icon-menu-danger: #e03e1a;
  --figma-color-icon-menu-disabled: rgba(255, 255, 255, 0.4);
  --figma-color-icon-menu-hover: rgba(255, 255, 255, 1);
  --figma-color-icon-menu-ondisabled: #1e1e1e;
  --figma-color-icon-menu-onselected: rgba(255, 255, 255, 1);
  --figma-color-icon-menu-pressed: #0c8ce9;
  --figma-color-icon-menu-secondary: rgba(255, 255, 255, 0.7);
  --figma-color-icon-menu-secondary-hover: rgba(255, 255, 255, 1);
  --figma-color-icon-menu-selected: #7cc4f8;
  --figma-color-icon-menu-selected-secondary: #7cc4f8;
  --figma-color-icon-menu-selected-tertiary: #7cc4f8;
  --figma-color-icon-menu-tertiary: rgba(255, 255, 255, 0.4);
  --figma-color-icon-menu-tertiary-hover: rgba(255, 255, 255, 1);
  --figma-color-icon-menu-warning: #f3c11b;
}

@layer default-kit-global {
  * {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
  }

  body {
    margin: 0;
    background-color: var(--figma-color-bg);
    color: var(--figma-color-text);
    font-family: var(--font-family);
    font-size: var(--font-size-11);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-16);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  /* hide scrollbar */
  body::-webkit-scrollbar {
    display: none;
  }

  div,
  span {
    cursor: default;
    user-select: none;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: inherit;
  }

  button {
    padding: 0;
    border: 0;
    background-color: transparent;
    font: inherit;
    outline: 0;
  }

  hr {
    border: 0;
    margin: 0;
  }

  label {
    display: block;
  }

  input,
  textarea {
    padding: 0;
    border: 0;
    margin: 0;
    cursor: default;
    font: inherit;
    outline: 0;
  }

  svg {
    display: block;
  }

  ::selection {
    background-color: var(--figma-color-bg-onselected);
  }
}
